<div class="container">
    <div class="card" style="background-color:darkgray;">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" >
                    <fieldset>
                        <legend class="text-center header">Registro</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="NOMBRE"  [(ngModel)]="mireg.nombre" [ngModelOptions]="{standalone: true}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input  lastname="name" type="text"  [(ngModel)]="mireg.apellido" [ngModelOptions]="{standalone: true}" placeholder="APELLIDO" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input  name="dpi" type="text"  [(ngModel)]="mireg.dpi" [ngModelOptions]="{standalone: true}" placeholder="DPI" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input  name="cuenta" type="text"  [(ngModel)]="mireg.cuenta" [ngModelOptions]="{standalone: true}" placeholder="CUENTA" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input  name="saldo" type="text"  [(ngModel)]="mireg.saldo" [ngModelOptions]="{standalone: true}" placeholder="SALDO" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input  name="email" type="text"  [(ngModel)]="mireg.correo" [ngModelOptions]="{standalone: true}" placeholder="EMAIL" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 te xt-center"></span>
                            <div class="col-md-8">
                                <input  name="contrasenia" type="text"  [(ngModel)]="mireg.contrasenia" [ngModelOptions]="{standalone: true}" placeholder="CONTRASENIA" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            
                                <button type="submit" class="btn btn-dark btn-lg" (click)="Enviar(mireg)">Guardar</button>
                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<h2 style="color: red;">{{mensaje}}</h2>